/FootballWebApp/bin/FootballWebApp.dll.config
/FootballWebApp/bin/FootballWebApp.pdb
/FootballWebApp/bin/FootballWebApp.dll
/FootballWebApp/obj/Debug/FootballWebApp.csprojAssemblyReference.cache
/FootballWebApp/obj/Debug/FootballWebApp.dll
/FootballWebApp/obj/Debug/FootballWebApp.pdb
/.vs
